<header>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="container" style="margin-left:20%;">
            <div class="nav-wrapper"><a class="page-title">Current Chat Window</a></div>
        </div>
    </nav>
    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
        <!--<li class="logo">
            <a id="logo-container" href="http://materializecss.com/" class="brand-logo">
                <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Your browser does not support SVG</object></a>
        </li>-->

        <li class="bold"><a href="about.html" class="waves-effect waves-teal">User 1</a></li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">User 2</a></li>
        <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">User 3</a></li>
        <li class="bold active"><a href="showcase.html" class="waves-effect waves-teal">User 4</a></li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="row" style="margin-left:5%;">
            <div class="input-field col s10 m9" style="position:fixed; bottom:0;">
                <input placeholder="Enter your chat message" id="first_name" type="text" class="validate">
            </div>
            <div class="offset-s10 offset-m9 col s1 m1" style="position:fixed; bottom:0;">
                <a><i class="material-icons">send</i></a>
            </div>
        </div>
    </div>
</main>