<header>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="container" style="margin-left:20%;">

            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s4 m3">
                        <img [src]="activeUser.avatarUrl" width="42px" height="42px" style="vertical-align:sub" alt="activeUser.name" class="circle">
                        <h4 class="page-title" style="display:inline-block; margin-left:5px">{{activeUser?.name}}</h4>
                    </div>
                    <div class="right">
                        <a class='dropdown-button white' href='#' data-activates='dropdown1'><i class="material-icons">more_vert</i></a>
                    </div>
                </div>
            </div>

        </div>

    </nav>
    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
    <ul id="nav-mobile" class="side-nav fixed collection" style="transform: translateX(0%);">
        <li class="logo light-blue lighten-1" style="height:20%;">
            <a id="logo-container" class="brand-logo">
                <img class="circle profile-pic" src="../../../images/Balram.jpg">
                <h5 class="title white-text profile-info">Balram</h5>
            </a>
        </li>
        <li class="search">
            <div class="search-wrapper card">
                <input id="search" style="width:80%" [(ngModel)]="searchUser"><i class="material-icons">search</i>
                <div class="search-results"></div>
            </div>
            <li *ngFor="let user of allUsers | searchUserFilter:searchUser;" class="collection-item avatar">
                <img [src]="user.avatarUrl" alt="user.name" class="circle">
                <span class="title"><a class="title waves-effect waves-teal" (click)="setActiveUser(user)"> {{user.name}}</a></span>
            </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="row" style="margin-left:5%;">
            <conversation [active-user]="activeUser"></conversation>
        </div>

        <div class="row">
            <div class="card-panel message-bar">
                <input placeholder="Enter your chat message" (keyup.enter)="sendMessage()" [(ngModel)]="messageText" type="text" class="validate message-input"
                />
                <a (click)="sendMessage()"><i class="material-icons message-send-button">send</i></a>
            </div>
        </div>
        <!--<div class="row" style="margin-left:5%;">
            <div class="input-field col s10 m9" style="position:fixed; bottom:0;">
                <input placeholder="Enter your chat message" (keyup.enter)="sendMessage()" [(ngModel)]="messageText" type="text" class="validate">
            </div>
            <div>

            </div>
            <div class="offset-s10 offset-m9 col s1 m1" style="position:fixed; bottom:0;">
            </div>
        </div>-->
    </div>
</main>